* {
    box-sizing: border-box;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1.5rem;
    --bg-lighter-color: hsl(202, 25%, 100%);
    --bg-color: hsl(202, 25%, 98%);
		--bg-darker-color: hsl(202, 25%, 93%);
    --text-darker: rgba(0, 0, 0, .87);
    --text-dark: rgba(0, 0, 0, .75);
    --text-light: rgba(0, 0, 0, .5);
    --text-super-light: rgba(0, 0, 0, .25);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
	color: var(--text-dark);
}

body {
  padding: 0;
  margin: 3.4rem 0;
  background-color: var(--bg-color);
}

h1, h2 {
	color: var(--text-darker);
}

h3, h4, h5, h6 {
	font-size: 1rem;
	color: var(--text-darker);
}

br, header a, nav a, nav img, nav li {
	margin: 0;
}

header h1 {
  margin-bottom: 1rem;
}

p {
  color: var(--text-dark);
}

a > img {
	margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--text-dark);
	border-bottom: 1px solid var(--text-light);
}
a:hover, a:active {
	background-color: var(--bg-darker-color);
	border-bottom: 1.5px solid var(--text-dark);
}

a.minor:link, a.minor:visited {
  text-decoration: none;
  color: var(--text-light);
	border-bottom: 1px solid var(--text-light);
}
a.minor:hover, a.minor:active {
  color: var(--text-dark);
	border-bottom: 1.5px solid var(--text-dark);
	background-color: var(--bg-darker-color);
}

a.invisible:link, a.invisible:visited {
	color: var(--text-dark);
	background-color: transparent;
	border: none;
}
a.invisible:hover, a.invisible:active {
  color: var(--text-dark);
	background-color: var(--bg-darker-color);
}

header a:link, header a:visited {
	border: none;
}

img {
  max-width: 100%;
}

/* FORMS */

form, form * {
	margin: 0;
}

form .field {
	margin-bottom: .75rem;
}

/* LISTS */

ul, ol {
	padding: 0;
  list-style-type: none;
}

ol.marked, .post-content > ol {
	list-style-type: decimal;
	list-style-position: outside;
	padding: 0;
}

ul.marked, .post-content > ul {
	list-style-type: disc;
	list-style-position: outside;
	padding: 0;
}

li {
	margin-bottom: 0rem;
}

ol.flex li {
	margin: 0;
}

img.outlined {
}

/* --- CUSTOM STYLES --- */

.section {
  margin-bottom: 3rem;
}

.section header + .section header {
}

.section header .title {
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.section .rule {
  border: 1px solid var(--text-dark);
  width: 100%;
  height: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
	max-width: 640px;
}

nav {
  width: 320px;
	margin: 0;
}

header .social {
	min-width: 8rem;
}

footer {
	margin-top: 3rem;
}

footer * {
  margin-bottom: .75rem;
}

/*  --- UTILITIES --- 
 *
 * Inspired by tailwind.css.
 */
 .inline-block {
   display: inline-block;
 }

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mx-2 {
  margin: 0 .5rem;
}

.px-2 {
  padding: 0 .5rem;
}

.py-2 {
  padding: .5rem 0 .5rem;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: .875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.75rem;
}

.text-center {
  text-align: center;
}

.text-normal {
  color: var(--text-dark)
}

.text-gray-light {
  color: var(--text-light) !important;
}

.text-gray-super-light {
  color: var(--text-super-light) !important;
}

.tracking-widest {
  letter-spacing: .1em;
}

.bg-gray-300 {
  background-color: rgba(0, 0, 0, 0.03);
}

.border-b-2 {
  border-bottom-width: 2px;
  border-color: #f00;
  width: 100%;
}

.title + .subtitle {
	margin-top: -1.5rem;
}

.title {
  font-weight: 500;
}  

.subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .section {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 24px;
  	margin-bottom: 3rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }
}


/* TRANSFORMS */

.t--highlight-on-hover {
  transition: all .2s;
}

.t--highlight-on-hover:hover {
  background-color: var(--bg-darker-color);
}

.t--scale-on-hover {
  transition: transform .2s;
}

.t--scale-on-hover:hover {
  transform: scale(1.1);
}

/* POSTS */

.post-header .meta * {
	margin-bottom: 0;
}

.post-header .avatar {
	margin-right: .75rem;
	margin-bottom: 0;
}

.post-content,
.post-content p,
.post-content ol, .post-content ul, .post-content li {
  font-size: 1rem;
  line-height: 1.7;
}

.post-content a:link, .post-content a:visited {
  text-decoration: none;
  color: var(--text-dark);
	border-bottom: 1px solid var(--text-light);
}
.post-content a:hover, .post-content a:active {
	background-color: var(--bg-darker-color);
	border-bottom: 1.5px solid var(--text-dark);
}

.post-content h2, .post-content h3 {
  /* font-size: 1rem; */
	font-weight: 500;
}

.post-content pre {
  background-color: transparent;
}

.post-content blockquote {
  font-family: monospace;
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
}

.post-content ol, .post-content ul {
  /* offset this margin with padding on li */
  margin-left: 1rem;
}

.post-content ol > li, .post-content ul > li {
  padding-left: 0.25rem;
}

/* END POSTS */

/* MISC */

/* from http://embedresponsively.com/ */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container-gform {
  position: relative;
  padding-bottom: 160%; /* empirically this sorta works */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed,
.embed-container-gform iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
